spring:
  jackson:
    deserialization.fail-on-unknown-properties: true
  datasource:
    url: jdbc:h2:tcp://localhost/~/example2
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #      show_sql: true
        format_sql: true
#  main:
#    web-application-type: none

logging:
  level:
    org:
      hibernate.SQL: debug
      hibernate.type: trace
      springframework.security: debug

    springframework:
      data:
        repository: DEBUG

company:
  name: "EXBI"
  address: "서울"
  tel-number: "02-1234-1234"
  email: "master@exbi.co.kr"

#server:
#  compression:
#    enabled: true
server:
  port: 8080
#  ssl:
#    key-store: "keystore.p12"
#    key-store-type: "PKCS12"
#    key-alias: "spring"
#    key-store-password: "123123"
